@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

	<partial name="Components/Hero"></partial>

    <partial name="Components/CallToAction"></partial>


    

    <h1 class="m-5">PROVIDE EXTRA SECURITY TO YOUR DATA</h1>

    <div class="row g-0 card p-5">
        <div class="col-lg-6 text-white showcase-img " style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
        <div class="col-lg-6 my-auto showcase-text">
            <h2>Updated For Bootstrap 5</h2>
            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 5!</p>
        </div>
    </div>

    <div class="row g-0 mt-4 card">
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="...">
                <h5>Margaret E.</h5>
                <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="...">
                <h5>Fred S.</h5>
                <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="...">
                <h5>Sarah W.</h5>
                <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
        </div>
    </div>

	<div class="row g-0 gap-3 mt-3 myGrid">
		<div class="col card h-100"><span>col</span></div>
		<div class="col card"><span>col</span></div>
	</div>

	<div class="row g-0 gap-3 mt-3 myGrid">
		<div class="col card h-100"><span>col</span></div>
		<div class="col card"><span>col</span></div>
	</div>

	<div class="row g-0 gap-3 mt-3 myGrid">
		<div class="col card h-100"><span>col</span></div>
		<div class="col card"><span>col</span></div>
	</div>




</div>
<script>
    $(document).ready(function () {
        swal('This Is Message For You')
    })
</script>