---
// Props: These are customizable attributes for the button
const { buttonClass = "btn btn-success btn-rounded waves-effect waves-light mb-2 me-2 addOrder-modal", buttonText = "Add Endpoint", modalTarget = "#newOrderModal" } = Astro.props;
---

<button
  type="button"
  data-bs-toggle="modal"
  data-bs-target={modalTarget}
  class={buttonClass}
>
  <i class="mdi mdi-plus me-1"></i> {buttonText}
</button>
