@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid justify-content-between justify-content-sm-center">
            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">AKASATA</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </div>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <div class="bg-light shadow-3 p-4 d-sm-none d-flex flex-column">
                <button class="btn btn-link btn-block border-bottom m-0">About</button>
                <button class="btn btn-link btn-block border-bottom m-0">Business Lines</button>
                <button class="btn btn-link btn-block border-bottom m-0">Services</button>
                <button class="btn btn-link btn-block border-bottom m-0">Product</button>
                <button class="btn btn-link btn-block border-bottom m-0">Contact</button>
                <button class="btn btn-link btn-block border-bottom m-0">News</button>
                <button class="btn btn-link btn-block m-0">Link 3</button>
            </div>
    </nav>
</header>